body 
{
    font-family : Consolas;
}

a 
{
    text-decoration: none;
}

.btn a  
{ 
    color: white; 
    background-color: #6666FF; 
    display: inline-block; 
    padding: 1px 5px 1px 5px; 
    margin: 1px 0px 1px 0px;
    border: 2px solid #0000CC;
}

.red a
{
    background-color: #CD5C5C;
    border: 2px solid #B22222; 
}

.green a
{
    background-color: #3CB371;
    border: 2px solid #2E8B57; 
}

.btnAdd a:hover 
{
     color: white; 
     background-color: #0000CC;
}
