<html>
<head>
    <title>SubCell Hierarchy</title>

    @* DEFAULT Style *@
    <link href="/Content/Default.css" rel="stylesheet" type="text/css" />

    @* FONT AWESOME Icons *@
    <link rel="stylesheet" href="/Content/font-awesome-4.2.0/css/font-awesome.min.css" />

    @* TREEVIEW Plugin *@
    <link href="/Content/jquery-treeview/jquery.treeview.css" rel="stylesheet" type="text/css" />
    <script src="/Content/jquery-treeview/jquery-1.2.6.min.js" type="text/javascript"></script>
    <script src="/Content/jquery-treeview/jquery.treeview.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#treeview ul").treeview();
        });
    </script>

</head>
<body>

    <h2>
        SubCell Hierarchy
    </h2>


    <div id="treeview">
        <ul>
            <li>GROCERY
                    <span class='btn green'><a href="#"><i class="fa fa-plus fa-lg"></i></a></span> 
                <ul>
                    <li>Grouped SubCell 1 
                            <a href="#">&#9650;</a> <a href="#">&#9660;</a> 
                            <span class='btn green'><a href="#"><i class="fa fa-plus fa-lg"></i></a></span> 
                            <span class='btn'><a href="#"><i class="fa fa-edit fa-lg"></i></a></span>
                            <span class='btn red'><a href="#"><i class="fa fa-times fa-lg"></i></a></span>
                        <ul>
                              <li>Planning SubCell
                                    <a href="#">&#9650;</a> <a href="#">&#9660;</a> 
                                    <span class='btn green'><a href="#"><i class="fa fa-plus fa-lg"></i></a></span> 
                                    <span class='btn'><a href="#"><i class="fa fa-edit fa-lg"></i></a></span>
                                    <span class='btn red'><a href="#"><i class="fa fa-times fa-lg"></i></a></span>
                                <ul>
                                  <li>FGROUP Code 1</li>
                                  <li>FGROUP Code 2</li>
                                </ul>
                              </li>
                            <li>Grouped SubCell 1.1
                                    <a href="#">&#9650;</a> <a href="#">&#9660;</a> 
                                    <span class='btn green'><a href="#"><i class="fa fa-plus fa-lg"></i></a></span> 
                                    <span class='btn'><a href="#"><i class="fa fa-edit fa-lg"></i></a></span>
                                    <span class='btn red'><a href="#"><i class="fa fa-times fa-lg"></i></a></span>
                        </ul>
                    </li>
                    <li>Grouped SubCell 2
                            <a href="#">&#9650;</a> <a href="#">&#9660;</a> 
                            <span class='btn green'><a href="#"><i class="fa fa-plus fa-lg"></i></a></span> 
                            <span class='btn'><a href="#"><i class="fa fa-edit fa-lg"></i></a></span>
                            <span class='btn red'><a href="#"><i class="fa fa-times fa-lg"></i></a></span>
                        <ul>
                            <li>Grouped Subcell 2.1
                                <a href="#">&#9650;</a> <a href="#">&#9660;</a> 
                                <span class='btn green'><a href="#"><i class="fa fa-plus fa-lg"></i></a></span> 
                                <span class='btn'><a href="#"><i class="fa fa-edit fa-lg"></i></a></span>
                                <span class='btn red'><a href="#"><i class="fa fa-times fa-lg"></i></a></span>
                            <li>Planning SUbcell 2.2
                                <a href="#">&#9650;</a> <a href="#">&#9660;</a> 
                                <span class='btn green'><a href="#"><i class="fa fa-plus fa-lg"></i></a></span> 
                                <span class='btn'><a href="#"><i class="fa fa-edit fa-lg"></i></a></span>
                                <span class='btn red'><a href="#"><i class="fa fa-times fa-lg"></i></a></span>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</body>
</html>